@font-face {
  font-family: 'iconfont'; /* Project id 4357030 */
  src: url('iconfont.woff2?t=1701655164779') format('woff2'),
    url('iconfont.woff?t=1701655164779') format('woff'),
    url('iconfont.ttf?t=1701655164779') format('truetype');
}
[class^='icon-'],
[class*='icon-'],
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shebei:before {
  content: '\e684';
}

.icon-setting:before {
  content: '\e609';
}

.icon-zhexian:before {
  content: '\e6ad';
}
