/* UI设计配色 */
/* 此文件定义基础颜色 */

$primary: #0d3e94;
$primary-hover: #4390ff;
$primary-active: #0066bc;
$primary-disable: #89bbe4;
$primary--placeholder: #a6acb4;

$success: #01ca75;
/* 成功提示 */
$danger: #e33f43;

$default: #677482;

/* 禁止 */
$disable: #d2d4d7;

$warning: #ffa800; // 列表状态表达  紧急 待接单

$common: #00c2ff; // 列表状态表达  一般

$text: #424f5c;

$major-text: #2f5270;

$bg-color: #05080e;

$bg-container-color: #18293b;

// 侧边栏+top
$bg-slider-color: #3c3c3c;

$menu-color: #a39292;
